<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <div class="row match-height">
        <!-- Company Table -->
        <div class="col-lg-4 col-12">
          <app-top-ten-script></app-top-ten-script>
        </div>
        <!--/ Company Table -->
        <div class="col-lg-8 col-12">
          <app-top-twenty-questions></app-top-twenty-questions>
        </div>
        <!--/ Company Table -->
        <div class="col-lg-4 col-12">
          <app-top-ten-customer></app-top-ten-customer>
        </div>
        <!--/ Company Table -->
        <div class="col-lg-4 col-12">
          <app-top-five-live-session></app-top-five-live-session>
        </div>
        <!--/ Company Table -->
        <div class="col-lg-4 col-12">
          <app-rating></app-rating>
        </div>
        <!--/ Company Table -->
        <div class="col-lg-8 col-12">
          <app-top-four-bot></app-top-four-bot>
        </div>
        <!--/ Company Table -->
        <div class="col-lg-4 col-12">
          <app-chanel-interactive-monthly></app-chanel-interactive-monthly>
        </div>
    </div>
  </div>
  