<div class="container">
  <div class="left-panel">
    <video #patientVideo id="patientVideo" hidden autoplay> </video>

    <video #doctorVideo id="doctorVideo" class="doctor-video" autoplay muted (click)="openVideos()"></video>
    <button (click)="toggleMic()">Bật/tắt micrô</button>


  </div>
  <div class="right-panel">
    <div class="test-area question-container">
      <h2>Bài Test</h2>
      <h2>{{ currentQuestion.question.que }}</h2>
      <p *ngIf="isRecording">Recording...</p>
      <button id="btn1" (click)="selectBtn(1);" class="custuomQues" *ngIf="currentQuestion.question.ans1"
        [innerHTML]="getSanitizedHtml(currentQuestion.question.ans1)">{{
        currentQuestion.question.ans1 }}</button>
      <button id="btn2" (click)="selectBtn(2);" class="custuomQues" *ngIf="currentQuestion.question.ans2">{{
        currentQuestion.question.ans2
        }}</button>
      <button id="btn3" (click)="selectBtn(3);" class="custuomQues" *ngIf="currentQuestion.question.ans3">{{
        currentQuestion.question.ans3
        }}</button>
      <button id="btn4" (click)="selectBtn(4);" class="custuomQues" *ngIf="currentQuestion.question.ans4">{{
        currentQuestion.question.ans4 }}</button>
    </div>
    <div class="controls">
      <button (click)="toggleCamera()" *ngIf="CameraTogge == true"><img width="50" height="50"
          src="https://img.icons8.com/ios/50/camera-microphone.png" alt="camera-microphone" /> Camera đang bật </button>
      <button (click)="toggleCamera()" *ngIf="CameraTogge == false"><img width="50" height="50"
          src="https://img.icons8.com/ios-filled/50/no-camera--v1.png" alt="no-camera--v1" />Camera đang tắt</button>
      <button (click)="previousQuestion()"> <img src="https://img.icons8.com/?size=100&id=19047&format=png" width="50"
          height="50" alt="">Câu hỏi trước đó</button>
      <button (click)="nextQuestion()"> <img src="https://img.icons8.com/?size=100&id=19048&format=png" width="50"
          height="50" alt="">Câu hỏi
        tiếp
        theo</button>
      <!-- <button (click)="openModalResultsUser(openModalCallForTest)">Kết thúc cuộc gọi</button> -->
    </div>
  </div>
</div>


<ng-template #openModalCallForTest let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Đánh giá</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <app-resultes (userId)="userId" (afterTestResultsUser)="afterTestResultsUser()"
      (closeModal)="afterTestResultsUser()">
    </app-resultes>
  </div>
</ng-template>