@import '@core/scss/angular/libs/select.component.scss';
.card .card-body{
    height: 400px;
}

.ng-select{
    width: 180px;
}

.small-col{
    width: auto;
    padding: 0;
}

.pr-0{
    padding-right: 0;
}