<div class="content-wrapper container-xxl p-0">
  <!-- / Basic multiple Column Form section start -->
  <section id="multiple-column-form">
    <div class="row match-height">
      <div class="col-12">
        <div class="card">
          <!-- <h5 class="card-header">Cập nhật người dùng</h5> -->
          <input type="text" id="remoteIdVideo" placeholder="id_answer">
          <div class="card-body">
            <form>
              <div class="row">
                <div class=" col-12">
                  <div class="form-group">
                    <label for="login-name-column">Điểm số<span style="color: red">*</span></label>
                    <input type="text" id="login-name-column" class="form-control" placeholder="Nhập điểm số"
                      name="login-column" formControlName="score" />
                    <div *ngIf="addUserFormSubmitted && AddUserForm.score.errors" class="invalid-feedback">
                      <div *ngIf="AddUserForm.score.errors.required">Bạn chưa nhập điểm
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="full-name-column">Đánh giá của bệnh nhân<span style="color: red">*</span></label>
                    <input type="text" id="full-name-column" class="form-control"
                      placeholder="Nhập đánh giá của bệnh nhân" name="fname-column" formControlName="fullName"
                      [ngClass]="{ 'is-invalid': addUserFormSubmitted && AddUserForm.note.errors }" />
                    <div *ngIf="addUserFormSubmitted && AddUserForm.note.errors" class="invalid-feedback">
                      <div *ngIf="AddUserForm.note.errors.required">Bạn chưa nhập đánh giá
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <button type="button" rippleEffect class="btn btn-danger" (click)="closeForm()">Kết thúc</button>

                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Basic multiple Column Form section end -->
</div>