@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';

.datatable-tree-button{
  display: none ;

}
.a-link-custom{
  cursor: pointer;
  text-decoration: none !important;
  font-style: italic;
}

.a-custom{
  cursor: pointer;
  text-decoration: underline !important;
}

.a-link-custom:hover,
.a-link-custom:focus,
.a-link-custom:active,
.a-custom:hover,
.a-custom:focus, 
.a-custom:active{
  color: #007bff !important;
}

.showDiv{
  display: none;
}

.btn-custom {
  width: 10rem;
  height: 3.5rem;
}

.datatable-header-cell
{
   display: flex !important;
   align-items: center !important;
}

.fit-content {
  width: fit-content;
}


#buttonCall {
  width: 70px;
  height: 20px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background: #315cfd;
  color: rgb(222, 83, 81);
  font-size: 1.5em;
}
