<div class="content-wrapper container-xxl p-0">
  <!-- / Basic multiple Column Form section start -->
  <section id="multiple-column-form">
    <div class="row match-height">
      <div class="col-12">
        <div class="card">
          <!-- <h5 class="card-header">Cập nhật người dùng</h5> -->
          <div class="card-body">
            <form [formGroup]="addUserForm" (ngSubmit)="closeForm()">
              <div class="row">
                <div class=" col-12">
                  <div class="form-group">
                    <label for="login-name-column">Điểm số<span style="color: red">*</span></label>
                    <input type="text" readonly="true" id="login-name-column" class="form-control"
                      placeholder="Nhập điểm số" name="login-column" formControlName="score"
                      [ngClass]="{ 'is-invalid':addUserFormSubmitted &&  AddUserForm.score.errors }" />
                    <div *ngIf=" AddUserForm.score.errors" class="invalid-feedback">
                      <div *ngIf="AddUserForm.score.errors.required">Bạn chưa nhập điểm
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="full-name-column">Đánh giá cho bệnh nhân<span style="color: red">*</span></label>
                    <input type="text" style=" height: 100px;" id="full-name-column" class="form-control"
                      placeholder="Nhập đánh giá của bệnh nhân" name="fname-column" formControlName="note"
                      [ngClass]="{ 'is-invalid': addUserFormSubmitted && AddUserForm.note.errors }" />
                    <div *ngIf=" AddUserForm.note.errors" class="invalid-feedback">
                      <div *ngIf="AddUserForm.note.errors.required">Bạn chưa nhập đánh giá
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <button type="submit" rippleEffect class="btn btn-danger">Kết thúc</button>

                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Basic multiple Column Form section end -->
</div>